* {
    box-sizing: border-box;
}

.container {
	width: 750px;
	height: 750px;
    margin: 0 auto;
    padding-top: 30px;
	border: 2px solid orange;

	text-align: center;
}

.score {
	font-size: 30px;
	margin-bottom: 30px;
}

.score_number {
	font-size: 40px;
	font-weight: bold;
}

.game-div {
	margin: 0 auto;
	width: 500px;
	height: 500px;
	border: 2px solid red;
}
